<section class="container">
  <h2 style="text-align: center; margin: 2rem 0">Nuestras Novedades</h2>
  <div class="row">
    <article
      *ngFor="let novedad of novedades"
      class="col-12 col-sm-6 col-md-4 mb-4"
    >
      <div class="novedad-card card">
        <!-- Imagen de la carta con zoom -->
        <img
          [src]="novedad.imagen"
          class="novedad-image card-img-top"
          (click)="openZoom(novedad.imagen)"
        />
        <div class="card-body">
          <p class="novedad-descripcion card-text">{{ novedad.descripcion }}</p>
        </div>
      </div>
    </article>
  </div>
</section>


<!-- Modal para el zoom de la imagen -->
<div id="zoomModal" class="zoom-modal">
  <span class="close" (click)="closeZoom()">&times;</span>
  <img id="zoomImage" class="zoom-image" />
</div>
