<section class="container">
  <h2 style="text-align: center; margin: 2rem 0">Nuestras Novedades</h2>
  <div class="row">
    <article
      *ngFor="let novedad of novedades"
      class="col-12 col-sm-6 col-md-4 mb-4"
    >
      <div class="novedad-card card">
        <img [src]="novedad.imagen" class="novedad-image card-img-top" />
        <div class="card-body">
          <!-- <h3 class="novedad-titulo card-title">{{ novedad.titulo }}</h3>-->
          <!-- <p class="novedad-tipo card-text">{{ novedad.tipo }}</p>-->
          <p class="novedad-descripcion card-text">{{ novedad.descripcion }}</p>
        </div>
      </div>
    </article>
  </div>
</section>
<br />
<br />
<br />
<br />
