<footer>
  <div class="container footer-content">
    <div>© 2024. Todos los derechos reservados.</div>
    <div class="social-links">
      <a
        href="https://www.facebook.com/share/rhrUfQ9bYAm5QL9H/?mibextid=qi2Omg"
        class="social-link"
        >Facebook</a
      >
      <a
        href="https://www.instagram.com/loreto_provincia_de_corrientes?igsh=MXNtbTVlaHF4ZjN1dg=="
        class="social-link"
        >Instagram</a
      >
      <a
        href="https://api.whatsapp.com/send?phone=543794862502&text=Hola%20desde%20mi%20sitio%20web"
        class="social-link"
        >WhatsApp</a
      >
    </div>
  </div>
</footer>
