footer {
  background: white;
  padding: 2rem 0;
  margin-top: 4rem;
  border-top: 1px solid #e2e8f0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white; /* Puedes cambiar este color si lo deseas */
  color: black;
  z-index: 1000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Puedes ajustarlo según tu diseño */
  margin: 0 auto;
  padding: 0 20px;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-link {
  color: var(--text);
  text-decoration: none;
  transition: color 0.2s;
}

.social-link:hover {
  color: var(--primary);
}

 /* Estilos para el logo de WhatsApp */
.whatsapp-logo {
  position: fixed;
  bottom: 20px; /* Ubicación desde la parte inferior */
  right: 120px; /* Ajusta la ubicación para separar de Instagram */
  width: 80px; /* Tamaño del logo */
  height: 80px;
  z-index: 1000; /* Asegura que el logo esté por encima de otros elementos */
}

/* Estilos para el logo de Instagram */
.instagram-logo {
  position: fixed;
  bottom: 20px; /* Ubicación desde la parte inferior */
  right: 20px; /* Ubicación desde la derecha */
  width: 80px; /* Tamaño del logo */
  height: 80px;
  z-index: 1000;
}

/* Opcional: efecto hover para ambos logos */
.whatsapp-logo:hover,
.instagram-logo:hover {
  transform: scale(1.1); /* Hace que el logo se agrande al pasar el cursor */
  transition: transform 0.2s;
}



