<header>
  <nav class="container">
    <div class="logo">Mi Tienda</div>
    <div class="nav-links">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Inicio</a
      >
      <a routerLink="/products" routerLinkActive="active" class="nav-link"
        >Productos</a
      >
      <a routerLink="/contact" routerLinkActive="active" class="nav-link"
        >Contacto</a
      >
    </div>
  </nav>
</header>
