<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
        <img
          [src]="'/assets/images/logo.jpg'"
          alt="Logo de la Municipalidad"
          class="d-inline-block align-text-top"
          style="height: 70px; width: auto"
        />
        <span class="ms-2 fw-semibold fs-5 text-dark"></span>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tramites" routerLinkActive="active"
              >Trámites</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/informacion"
              routerLinkActive="active"
              >Información</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/novedad" routerLinkActive="active"
              >Novedades</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/proximoevento"
              routerLinkActive="active"
              >Próximos Eventos</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/autoridades"
              routerLinkActive="active"
              >Autoridades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active"
              >Contactos</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
