<header>
  <nav class="container d-flex justify-content-between align-items-center py-3">
    <div class="logo">
      <a routerLink="/">
        <img
          [src]="'/assets/images/logo.jpg'"
          alt="Logo de la Municipalidad"
          class="logo-img"
        />
      </a>
    </div>
    <div class="nav-links d-flex">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Inicio</a
      >

      <a routerLink="/tramites" routerLinkActive="active" class="nav-link"
        >Tramites</a>
      <a routerLink="/informacion" routerLinkActive="active" class="nav-link"
      >Información</a>
      <a routerLink="/novedad" routerLinkActive="active" class="nav-link"
        >Novedades</a>
      <a routerLink="/proximoevento" routerLinkActive="active" class="nav-link"
      >ProximoEventos</a>
      <a routerLink="/autoridades" routerLinkActive="active" class="nav-link"
        >Autoridades</a>
      <a routerLink="/contact" routerLinkActive="active" class="nav-link"
        >Contactos</a>
    </div>
  </nav>
</header>
