.logo-img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.nav-links {
  gap: 15px; /* Espaciado horizontal entre los enlaces */
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
  text-decoration: none;
}

.nav-link:active {
  color: #0056b3;
}

.active {
  color: #007bff;
  font-weight: bold;
}
/* Asegura que el logo se mantenga fijo en la izquierda */
.logo {
  flex: 0 1 auto; /* No permite que se estire, se mantiene a su tamaño */
  margin-right: 20px; /* Añadir un pequeño margen derecho si es necesario */
}

