<section class="container my-5">
  <div class="row g-4">
    <article
      *ngFor="let informacion of informaciones"
      class="col-12 col-sm-6 col-md-4"
    >
      <div class="novedad-card card shadow-sm h-100">
        <!-- Imagen de la carta con zoom -->
        <img
          [src]="informacion.imagen"
          alt="Imagen relacionada"
          class="novedad-image card-img-top"
          (click)="openZoom(informacion.imagen)"
        />
        <div class="card-body">
          <p class="novedad-descripcion card-text text-justify">
            {{ informacion.descripcion }}
          </p>
        </div>
      </div>
    </article>
  </div>
</section>

<!-- Modal para el zoom de la imagen -->
<div id="zoomModal" class="zoom-modal d-none">
  <div class="zoom-modal-content">
    <span class="close fs-3" (click)="closeZoom()">&times;</span>
    <img id="zoomImage" class="zoom-image img-fluid" alt="Zoom de imagen" />
  </div>
</div>
