<section class="container my-5">
  <div class="row g-4">
    <article
      *ngFor="let informacion of informaciones; let i = index"
      class="col-12 col-sm-6 col-md-4"
    >
      <div class="card shadow-sm h-100 border-0">
        <img
          [src]="informacion.imagen"
          alt="Imagen de la novedad"
          class="card-img-top img-fluid rounded"
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#modal' + i"
          style="cursor: zoom-in"
        />
        <div class="card-body d-flex align-items-center justify-content-center">
          <ng-container *ngIf="i === 0; else textoNormal">
            <a
              [href]="informacion.descripcion"
              target="_blank"
              rel="noopener noreferrer"
              class="card-text text-center small text-primary text-decoration-underline"
              style="cursor: pointer"
              >Ir al enlace para descargar la aplicacion de la radio</a
            >
          </ng-container>
          <ng-template #textoNormal>
            <p class="card-text text-center small text-secondary">
              {{ informacion.descripcion }}
            </p>
          </ng-template>
        </div>
      </div>
    </article>
  </div>
</section>

<ng-container *ngFor="let informacion of informaciones; let i = index">
  <div
    class="modal fade"
    [id]="'modal' + i"
    tabindex="-1"
    [attr.aria-labelledby]="'modalLabel' + i"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content bg-dark border-0">
        <div class="modal-header border-0">
          <button
            type="button"
            class="btn-close btn-close-white ms-auto"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          ></button>
        </div>
        <div class="modal-body p-0 d-flex justify-content-center">
          <img
            [src]="informacion.imagen"
            alt="Zoom Imagen"
            class="img-fluid rounded"
          />
        </div>
      </div>
    </div>
  </div>
</ng-container>
