<div class="video-row">
  <div class="video-item">
    <app-video [videoUrl]="'/assets/images/video4.mp4'"></app-video>
  </div>
  <div class="video-item">
    <app-video [videoUrl]="'/assets/images/video3.mp4'"></app-video>
  </div>
  <div class="video-item">
    <app-video [videoUrl]="'/assets/images/loreto3.mp4'"></app-video>
  </div>
  <div class="video-item">
    <app-video [videoUrl]="'/assets/images/loreto2.mp4'"></app-video>
  </div>
  <div class="video-item">
    <app-video [videoUrl]="'/assets/images/videoloreto.mp4'"></app-video>
  </div>
  <hr class="video-divider" />
  
 
  
  <!-- Agrega más videos de ser necesario -->
</div>
