<section class="hero bg-primary text-white py-5">
  <div class="container text-center">
    <h1 class="display-4 fw-bold">Bienvenidos a la Municipalidad de Loreto</h1>
    <p class="lead">
      Conectando a nuestra comunidad con las mejores soluciones y servicios.
    </p>
    <a routerLink="/novedades" class="btn btn-light btn-lg mt-4">Descubre nuestras Novedades</a>
  </div>
</section>

<!-- Carousel -->
<section class="container my-5">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="'/assets/images/carousel1.jpg'" class="d-block w-100" alt="Imagen 1" />
      </div>
      <div class="carousel-item">
        <img [src]="'/assets/images/carousel2.jpg'" class="d-block w-100" alt="Imagen 2" />
      </div>
      <div class="carousel-item">
        <img [src]="'/assets/images/carousel3.jpg'" class="d-block w-100" alt="Imagen 3" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="container py-5">
  <h2 class="text-center mb-4">Nuestros Servicios</h2>
  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Gestión Eficiente</h3>
          <p class="card-text">
            Optimización de procesos y atención ágil para todos los ciudadanos.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Ubicacion</h3>
          <p class="card-text">
            Municipalidad de Loreto , Corrientes. Tomas Ubeda 555 | Loreto
            Corrientes Argentina | 3483.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Proyectos Locales</h3>
          <p class="card-text">
            Fomentamos el desarrollo local con proyectos de impacto directo en
            la comunidad.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-5">
  <div class="container text-center">
    <h2 class="mb-4">Nuestros Logros</h2>
    <p class="lead mb-4">
      Aquí algunos de los proyectos que hemos llevado a cabo con éxito para
      mejorar nuestra ciudad:
    </p>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto21.png'" class="card-img-top" alt="Proyecto 1"
            (click)="openZoom('/assets/images/foto21.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">Proyecto de Infraestructura</h5>-->
            <p class="card-text">
              𝗛𝗜𝗦𝗧𝗢𝗥𝗜𝗖𝗔 𝗜𝗡𝗔𝗨𝗚𝗨𝗥𝗔𝗖𝗜𝗢𝗡 𝗦𝗨𝗖𝗨𝗥𝗦𝗔𝗟 𝗟𝗢𝗥𝗘𝗧𝗢, 𝗕𝗔𝗡𝗖𝗢 𝗣𝗥𝗢𝗩𝗜𝗡𝗖𝗜𝗔
              𝗗𝗘 𝗖𝗢𝗥𝗥𝗜𝗘𝗡𝗧𝗘𝗦 🏦
              El Gobernando de la Provincia Dr. Gustavo Valdés junto al Intendente Municipal Profesor Orlando Maidana ,
              llevaron adelante la Inauguración Historica de la nueva sucursal del Banco de Corrientes 🏦👏
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/banco.jpg'" class="card-img-top" alt="Proyecto 1"
            (click)="openZoom('/assets/images/banco.jpg')" />
          <div class="card-body">
            <!--<h5 class="card-title">Proyecto de Infraestructura</h5>-->
            <p class="card-text">
              👉Ahora, nuestros queridos vecinos de Loreto pueden realizar sus operaciones sin tener que trasladarse a
              otras localidades, lo que promueve la economía local 💯 ¡El BanCo, siempre cerca! 💪
            </p>
          </div>
        </div>
      </div>
      <!-- Repite el bloque de tarjeta para las demás imágenes -->
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto10.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto10.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              🙌CONTINÚAMOS CON LOS TRABAJOS DE MANTENIMIENTO PARA EMBELLECER EL BALNEARIO MUNICIPAL 🏖️
              👷👷‍♀️El personal de Obras y servicios públicos, en conjunto con la Dirección de Turismo de la
              Municipalidad, continúa trabajando pensando en la próxima temporada de verano .
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto11.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto11.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              SEGUIMOS APOYANDO A LAS INSTITUCIONES 🇦🇷 🤝🏼
              En esta oportunidad realizamos limpieza y desmalezado.
              📍 ESCUELA N° 671 - DEL PARAJE ARROYO BALMACEDA
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/novedad11.jpg'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/novedad11.jpg')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              𝐌𝐚𝐧𝐭𝐞𝐧𝐢𝐦𝐢𝐞𝐧𝐭𝐨 𝐲 𝐌𝐞𝐣𝐨𝐫𝐚𝐬 𝐝𝐞𝐥 𝐂𝐞𝐦𝐞𝐧𝐭𝐞𝐫𝐢𝐨 𝐌𝐮𝐧𝐢𝐜𝐢𝐩𝐚𝐥 📌Estamos
              trabajando para ofrecer un ambiente adecuado y respetuoso a quienes visiten a sus seres queridos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto8.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto8.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              🙌🏻 Continuamos con más Obras, mejorando así la circulación vial para los vecinos 👷🏻🚧 👉🏻 Desde la
              Municipalidad de Loreto a través de la Secretaría de Obras y Servicios Públicos estamos realizando la
              𝐓𝐞𝐫𝐜𝐞𝐫 𝐂𝐮𝐚𝐝𝐫𝐚 𝐝𝐞 𝐂𝐨𝐫𝐝𝐨𝐧 𝐂𝐮𝐧𝐞𝐭𝐚, llegando ya a la Sucursal del Banco Provincia de
              Corrientes, está inversión representa un gran avance para nuestra localidad. 💪🏻 Continuamos
              transformando nuestro querido Loreto.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/novedad9.jpg'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/novedad9.jpg')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              Con un gran esfuerzo y mano de obra Loretana, seguimos con la construcción del cordón cuneta y el muro del
              Cementerio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto15.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto15.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              👉 ᴄᴏɴ ᴜɴᴀ ɪɴᴠᴇʀsɪᴏ́ɴ ᴅᴇ $12.300.000 ᴍɪʟʟᴏɴᴇs ᴅᴇ ᴘᴇsᴏs.
              📍 Dejamos en condiciones el Camión Municipal.
              ✔️ Tractor Municipal.
              ✔️ Retroexcabadora Municipal.
              ✔️ Compra de cubiertas
              ✔️ Compra de 2 motoguadañas Stihl.
              ✔️ Service al Minibús Municipal
              ✔️ Tractorcito de mantenimiento de la cancha.
              🙌 Seguimos invirtiendo para mejorar el servicio de todos los Loretanos
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto9.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto9.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              👉 Después de las precipitaciones abundantes, se comenzó con el arreglo y perfilado de las calles, un
              trabajo realizado para que cada vecino puede transitar de la mejor manera 🚗
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto3.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto3.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              🙌 Con una gran inversión seguimos avanzando con la colocación de luces Led
              👉 En un trabajo conjunto Dpec y Municipalidad, se iluminó el trayecto de la calle Tomás Ubeda y Brasil.
              ✅ Brindando seguridad y más iluminación para Loreto.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto2.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto2.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">BALNEARIO MUNICIPAL: INAUGURACIÓN DE OBRAS HISTORICAS Y APERTURA DE TEMPORADA VERANO
              2024/2025 🏖 </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto1.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto1.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              El Intendente Municipal Profesor Orlando Maidana junto al Vice Intendente Dr. Cristhian Gauna y los
              Concejales Mirta Quiroz y José Josuran, visitaron la guardia de distintas Instituciones Públicas e
              hicieron entrega de un presente en agradecimiento por su permanente compromiso y colaboración constante
              con nuestro querido pueblo de Loreto.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto4.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto4.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              Te invitamos para este 25 de Diciembre a la gran inauguración de #temporada🏖️☀️ y gran inauguración de
              #Obras en el Balneario Municipal a partir de las 15 hs. ⚽️🚣🏽‍♀️🏐🎼
              ¡ Están cordialmente invitados, los esperamos !
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto5.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto5.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              Te invitamos para este 25 de Diciembre a la gran inauguración de #temporada🏖️☀️ y gran inauguración de
              #Obras en el Balneario Municipal a partir de las 15 hs. ⚽️🚣🏽‍♀️🏐🎼
              ¡ Están cordialmente invitados, los esperamos !
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto6.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto6.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              👉 El Intendente Municipal Profesor Orlando Maidana, hizo entrega de subsidios a las distintas Comparsas
              que ya confirmaron su presencia en los carnavales 2.025, Sol de Mayo y Brillos del Sur. También recibió la
              visita del grupo Ciclistas Virgen de Loreto, para seguir impulsando este Deporte de integración única. 🚴
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto7.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto7.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              👉Desde la Municipalidad se hizo entrega de una 𝗔𝘆𝘂𝗱𝗮 𝗘𝗰𝗼𝗻ó𝗺𝗶𝗰𝗮 para solventar gastos para el
              acto de Clausura del Colegio Secundario Loreto y al Centro de Formación Profesional. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto12.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto12.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              3er. EXAMEN ANUAL PROFESORADO DE FOLKLÓRE Y 2do. EXAMEN ANUAL DE DANZAS CLASICAS DE LA ACADEMIA SENTIR
              NACIONAL 🇦🇷 </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto13.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto13.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              Así quedó la Parroquia Nuestra Señora de Loreto, en un trabajo con mucha dedicación del área de Obras
              Públicas de la Municipalidad ⛪️
              ¡ FELÍZ INICIO A LA NOVENA DE NUESTRA MADRE DE LORETO , EN NOMBRE DE DIOS PROTEGE SIEMPRE A NUESTRO
              QUERIDO PUEBLO🙌🏻 !</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto14.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto14.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              Con recursos genuinos y mano de obra Loretana, estamos llevando adelante la pintura y refacción de la
              Parroquia Nuestra Señora de Loreto, como
              asi también la pintura del muro perimetral⛪️
              Nos preparáramos todos juntos para recibir las
              Fiestas patronales de nuestro querido Pueblo🙏🏻</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto17.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto17.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              Se viene el gran #torneo de voley en Loreto con equipos de otras Localidades y representantes de nuestra
              Localidad.
              Para esto colocamos un #nuevo #tablero con la última técnologia y todo la modernización para este
              finde🏐🏆</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto18.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto18.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              Estamos en plena etapa de recuperación en
              el muelle de la laguna San Juan☀️⛱️
              Un muelle que estaba totalmente deteriorado debido a que construyeron con madera que no
              es la correspondiente y de forma
              precaria , ahora lo estamos haciendo como tiene que ser con maderas adecuadas y de una forma segura.
              También se está realizando la limpieza en los caminos que conducen al balneario Municipal 🏖️</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto19.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto19.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              SEGUIMOS CON MÁS OBRAS EN DISTINTOS PUNTOS DE LA LOCALIDAD
              Iniciamos con la construcción del muro perimetral en el Cementerio de nuestra Localidad.
              Un lugar visitado por las familias durante todo el año y donde descansan los seres queridos de cada
              compoblano🙏🏻🤲🛐</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto20.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto20.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              ASÍ AVANZA LA OBRA DEL NUEVO HOSPITAL EN NUESTRO QUERIDO PUEBLO DE LORETO 🏥
              ¡ El futuro lo construimos trabajando juntos y entre todos !</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="'/assets/images/foto22.png'" class="card-img-top" alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto22.png')" />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              𝗘𝗡𝗧𝗥𝗘𝗚𝗔 𝗗𝗘 𝗡𝗢𝗧𝗘𝗕𝗢𝗢𝗞𝗦 𝗣𝗥𝗢𝗚𝗥𝗔𝗠𝗔 𝗜𝗡𝗖𝗟𝗨𝗜𝗥 𝗙𝗨𝗧𝗨𝗥𝗢 💻
              El Intendente Municipal Profesor Orlando Maidana junto al Gobernador de la Provincia Dr. Gustavo Valdés,
              realizaron entrega a 87 estudiantes del Colegio Secundario de #Loreto , notebooks del programa Incluir
              Futuro, impulsado por el Gobierno de Corrientes para reducir la brecha digital y fortalecer la educación
              pública 💻🙌</p>
          </div>
        </div>
      </div>


      <!-- Más tarjetas aquí... -->
    </div>
  </div>
</section>

<section class="container py-5">
  <h2 class="text-center mb-4">Eventos Proximos</h2>
  <div class="row text-center">
    <app-evento-proximo></app-evento-proximo>
  </div>
</section>

<!-- Modal para el zoom de la imagen -->
<div id="zoomModal" class="zoom-modal">
  <span class="close" (click)="closeZoom()">&times;</span>
  <img id="zoomImage" class="zoom-image" />
</div>

<section class="bg-dark text-white py-5">
  <div class="container text-center">
    <h2 class="mb-4">¡Contáctanos!</h2>
    <p class="lead mb-4">
      Si tienes preguntas o necesitas más información, no dudes en ponerte en
      contacto con nosotros.
    </p>
    <a href="mailto:loretomunicipio2027@gmail.com" class="btn btn-light btn-lg mb-4">
      Envíanos un Correo
    </a>

    <!-- Redes Sociales -->
    <div class="social-icons">
      <a href="https://api.whatsapp.com/send?phone=543794862502&text=Hola%20desde%20mi%20sitio%20web" target="_blank"
        class="btn btn-light mx-2">
        <img src="/assets/images/whatsap.png" alt="WhatsApp" style="width: 30px; height: 30px" />
      </a>
      <a href="https://www.instagram.com/loreto_provincia_de_corrientes?igsh=MXNtbTVlaHF4ZjN1dg==" target="_blank"
        class="btn btn-light mx-2">
        <img src="/assets/images/instagram.jpg" alt="Instagram" style="width: 30px; height: 30px" />
      </a>
      <a href="https://www.facebook.com/share/rhrUfQ9bYAm5QL9H/?mibextid=qi2Omg" target="_blank"
        class="btn btn-light mx-2">
        <img src="/assets/images/facebook.png" alt="Facebook" style="width: 30px; height: 30px" />
      </a>
    </div>
  </div>
</section>