<section class="hero bg-primary text-white py-5">
  <div class="container text-center">
    <h1 class="display-4 fw-bold">Bienvenidos a la Municipalidad de Loreto</h1>
    <p class="lead">
      Conectando a nuestra comunidad con las mejores soluciones y servicios.
    </p>
    <a routerLink="/novedades" class="btn btn-light btn-lg mt-4"
      >Descubre nuestras Novedades</a
    >
  </div>
</section>

<!-- Carousel -->
<section class="container my-5">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          [src]="'/assets/images/carousel1.jpg'"
          class="d-block w-100"
          alt="Imagen 1"
        />
      </div>
      <div class="carousel-item">
        <img
          [src]="'/assets/images/carousel2.jpg'"
          class="d-block w-100"
          alt="Imagen 2"
        />
      </div>
      <div class="carousel-item">
        <img
          [src]="'/assets/images/carousel3.jpg'"
          class="d-block w-100"
          alt="Imagen 3"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="container py-5">
  <h2 class="text-center mb-4">Nuestros Servicios</h2>
  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Gestión Eficiente</h3>
          <p class="card-text">
            Optimización de procesos y atención ágil para todos los ciudadanos.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Ubicacion</h3>
          <p class="card-text">
            Municipalidad de Loreto , Corrientes. Tomas Ubeda 555 | Loreto
            Corrientes Argentina | 3483.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Proyectos Locales</h3>
          <p class="card-text">
            Fomentamos el desarrollo local con proyectos de impacto directo en
            la comunidad.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-5">
  <div class="container text-center">
    <h2 class="mb-4">Nuestros Logros</h2>
    <p class="lead mb-4">
      Aquí algunos de los proyectos que hemos llevado a cabo con éxito para
      mejorar nuestra ciudad:
    </p>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img
            [src]="'/assets/images/banco.jpg'"
            class="card-img-top"
            alt="Proyecto 1"
            (click)="openZoom('/assets/images/banco.jpg')"
          />
          <div class="card-body">
            <h5 class="card-title">Proyecto de Infraestructura</h5>
            <p class="card-text">
              Valdés inauguró la nueva sucursal del Banco de Corrientes en
              Loreto.
            </p>
          </div>
        </div>
      </div>
      <!-- Repite el bloque de tarjeta para las demás imágenes -->
      <div class="col-md-4">
        <div class="card">
          <img
            [src]="'/assets/images/novedad5.jpg'"
            class="card-img-top"
            alt="Proyecto 2"
            (click)="openZoom('/assets/images/novedad5.jpg')"
          />
          <div class="card-body">
            <h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>
            <p class="card-text">
              Con un gran esfuerzo y mano de obra Loretana, seguimos con la
              construcción del #cordón cuneta y el #muro del Cementerio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            [src]="'/assets/images/novedad12.jpg'"
            class="card-img-top"
            alt="Proyecto 2"
            (click)="openZoom('/assets/images/novedad12.jpg')"
          />
          <div class="card-body">
            <h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>
            <p class="card-text">
              Con un gran esfuerzo y mano de obra Loretana, seguimos con la
              construcción del #cordón cuneta y el #muro del Cementerio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            [src]="'/assets/images/novedad11.jpg'"
            class="card-img-top"
            alt="Proyecto 2"
            (click)="openZoom('/assets/images/novedad11.jpg')"
          />
          <div class="card-body">
            <h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>
            <p class="card-text">
              Con un gran esfuerzo y mano de obra Loretana, seguimos con la
              construcción del #cordón cuneta y el #muro del Cementerio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            [src]="'/assets/images/novedad6.jpg'"
            class="card-img-top"
            alt="Proyecto 2"
            (click)="openZoom('/assets/images/novedad6.jpg')"
          />
          <div class="card-body">
            <h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>
            <p class="card-text">
              Con un gran esfuerzo y mano de obra Loretana, seguimos con la
              construcción del #cordón cuneta y el #muro del Cementerio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            [src]="'/assets/images/novedad9.jpg'"
            class="card-img-top"
            alt="Proyecto 2"
            (click)="openZoom('/assets/images/novedad9.jpg')"
          />
          <div class="card-body">
            <h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>
            <p class="card-text">
              Con un gran esfuerzo y mano de obra Loretana, seguimos con la
              construcción del #cordón cuneta y el #muro del Cementerio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            [src]="'/assets/images/novedad7.jpg'"
            class="card-img-top"
            alt="Proyecto 2"
            (click)="openZoom('/assets/images/novedad7.jpg')"
          />
          <div class="card-body">
            <h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>
            <p class="card-text">
              Con un gran esfuerzo y mano de obra Loretana, seguimos con la
              construcción del #cordón cuneta y el #muro del Cementerio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            [src]="'/assets/images/novedad3.jpg'"
            class="card-img-top"
            alt="Proyecto 2"
            (click)="openZoom('/assets/images/novedad3.jpg')"
          />
          <div class="card-body">
            <h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>
            <p class="card-text">
              Con un gran esfuerzo y mano de obra Loretana, seguimos con la
              construcción del #cordón cuneta y el #muro del Cementerio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            [src]="'/assets/images/novedad2.jpg'"
            class="card-img-top"
            alt="Proyecto 2"
            (click)="openZoom('/assets/images/novedad2.jpg')"
          />
          <div class="card-body">
            <h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>
            <p class="card-text">
              Con un gran esfuerzo y mano de obra Loretana, seguimos con la
              construcción del #cordón cuneta y el #muro del Cementerio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            [src]="'/assets/images/foto1.png'"
            class="card-img-top"
            alt="Proyecto 2"
            (click)="openZoom('/assets/images/foto1.png')"
          />
          <div class="card-body">
            <!--<h5 class="card-title">"Proyecto de Infraestructura Vial"</h5>-->
            <p class="card-text">
              El Intendente Municipal Profesor Orlando Maidana junto al Vice Intendente Dr. Cristhian Gauna y los Concejales  Mirta Quiroz y José Josuran, visitaron la guardia de distintas  Instituciones Públicas e hicieron entrega de un presente en agradecimiento por su permanente compromiso y colaboración constante con nuestro querido pueblo de Loreto.
            </p>
          </div>
        </div>
      </div>
      <!-- Más tarjetas aquí... -->
    </div>
  </div>
</section>

<section class="container py-5">
  <h2 class="text-center mb-4">Evento Proximo</h2>
  <div class="row text-center">
    <app-evento-proximo></app-evento-proximo>
  </div>
</section>

<!-- Modal para el zoom de la imagen -->
<div id="zoomModal" class="zoom-modal">
  <span class="close" (click)="closeZoom()">&times;</span>
  <img id="zoomImage" class="zoom-image" />
</div>

<section class="bg-dark text-white py-5">
  <div class="container text-center">
    <h2 class="mb-4">¡Contáctanos!</h2>
    <p class="lead mb-4">
      Si tienes preguntas o necesitas más información, no dudes en ponerte en
      contacto con nosotros.
    </p>
    <a
      href="mailto:loretomunicipio2027@gmail.com"
      class="btn btn-light btn-lg mb-4"
    >
      Envíanos un Correo
    </a>

    <!-- Redes Sociales -->
    <div class="social-icons">
      <a
        href="https://api.whatsapp.com/send?phone=543794862502&text=Hola%20desde%20mi%20sitio%20web"
        target="_blank"
        class="btn btn-light mx-2"
      >
        <img
          src="/assets/images/whatsap.png"
          alt="WhatsApp"
          style="width: 30px; height: 30px"
        />
      </a>
      <a
        href="https://www.instagram.com/loreto_provincia_de_corrientes?igsh=MXNtbTVlaHF4ZjN1dg=="
        target="_blank"
        class="btn btn-light mx-2"
      >
        <img
          src="/assets/images/instagram.jpg"
          alt="Instagram"
          style="width: 30px; height: 30px"
        />
      </a>
      <a
        href="https://www.facebook.com/share/rhrUfQ9bYAm5QL9H/?mibextid=qi2Omg"
        target="_blank"
        class="btn btn-light mx-2"
      >
        <img
          src="/assets/images/facebook.png"
          alt="Facebook"
          style="width: 30px; height: 30px"
        />
      </a>
    </div>
  </div>
</section>

