.hero {
  padding: 6rem 0;
  text-align: center;
  background: linear-gradient(to right, hwb(120 2% 77%), #024b12);
  color: white;
  margin-bottom: 4rem;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}
.feature {
  text-align: center;
  padding: 2rem;
}
.feature h3 {
  margin: 1rem 0;
  color: var(--primary);
}

/* Estilo del modal */
.zoom-modal {
  display: none; /* Inicialmente oculto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  padding-top: 60px;
  text-align: center;
}

.zoom-modal img {
  max-width: 90%;
  max-height: 80%;
  margin: auto;
  display: block;
}

/* Estilo para el botón de cerrar */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.card {
  height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
  display: flex;
  flex-direction: column; /* Acomoda el contenido verticalmente */
  justify-content: space-between; /* Separa los elementos de forma uniforme */
}

.card-img-top {
  height: 200px; /* Ajusta la altura de las imágenes */
  object-fit: cover; /* Asegura que las imágenes mantengan sus proporciones */
}

.card-body {
  flex-grow: 1; /* Permite que el contenido textual ocupe el espacio necesario */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el texto verticalmente */
  text-align: center; /* Alinea el texto horizontalmente */
}

.card-title {
  font-size: 1.2rem; /* Ajusta el tamaño del título */
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem; /* Ajusta el tamaño del texto */
}
.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaciado entre los elementos */
  justify-content: center; /* Centrar los videos */
}

.video-item {
  flex: 0 0 calc(33.333% - 20px); /* Tres columnas por fila, ajusta según sea necesario */
  max-width: 300px; /* Tamaño máximo de cada video */
  border: 2px solid #ccc; /* Opcional: borde para los videos */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que el contenido no se desborde */
  background-color: #f8f9fa; /* Opcional: color de fondo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra atractiva */
}

.video-item video {
  width: 100%; /* Ajustar al contenedor */
  height: auto; /* Mantener la proporción del video */
  object-fit: cover; /* Ajustar el contenido sin distorsión */
}

@media (max-width: 768px) {
  .video-item {
    flex: 0 0 100%; /* Videos a pantalla completa en dispositivos pequeños */
  }
}
